body {
  margin: 0;
  font-family: sans-serif;
  background: white;
  overflow: hidden;
}

/* CENTER STORY IMAGE */
#background {
  width: 55%;
  height: 60%;
  margin: 70px auto 0 auto;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: background 0.3s ease;
}

/* TEXT */
#poem {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

/* BUTTON */
.magicBtn {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #eee;
}

/*  FLOATING EMOJIS */
.sideEmoji {
  position: absolute;
  font-size: 2.5rem;
  animation: floatUp 2s ease forwards;
  pointer-events: none;
}

@keyframes floatUp {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-120px); }
}